name: Trigger Deploy

on:
  push:
    branches:
      - prod

jobs:
  trigger:
    runs-on: ubuntu-latest
    
    steps:
      - name: Tell deploy repo to start deployment
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.DEPLOY_TOKEN }}" \
            https://api.github.com/repos/ken-nguyen-2605/roors-deploy/dispatches \
            -d '{"event_type":"deploy", "client_payload": {"service": "nextjs"}}'